{% extends "main/base.html" %}
{% load thumbnail %}
{% block title %} {{ animal.name|title }} {% endblock title %}
{% block header %} {{ animal.name|title }} {% endblock header %}
{% block nav-bar %} 

    <li class="breadcrumb-item active">
        <a href="{% url 'main:homepage'%}">Main</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="{% url 'main:about_type' animal.type.name %}">{{ animal.type.name }}</a>
    </li>
    <li class="breadcrumb-item">
        {{animal.name}}
    </li>

{% endblock nav-bar %}
{% block content-left %}
<div class="row">
    <div class="col-sm-6">
        <div class="about-image">
            {% thumbnail animal.image "500x400" crop="center" as im %}
                <img class="rounded img-fluid" src="{{ im.url }}"   >
            {% empty %}
                <img class="animal-image img-fluid" src="/media/None.jpg" alt="Image does not exist">
            {% endthumbnail %}
        </div>
    </div>
    <div class="col-sm-6">
        {{animal.description}}
    </div>
    {% for post in posts %}
        <div class="col-sm-8 top-buffer post-block">
            <p class="post-block-info ">{{post.user}} </p>
            <p class="post-block-text" >{{post.text}}</p>
            <small class="text-muted">published {{post.pub_date}}</small>
        </div>
    {% endfor %}
    <div class="col-sm-12 top-buffer">

        {% if user.is_authenticated %}
            <form method="post">
                <div class="form-group">
                    {% csrf_token %}
                    <label for="text">You can add some info about this animal:</label>
                    <textarea class="form-control" type="text" name="text" id="text" placeholder="Your post..."></textarea>
                </div>
                <button class="btn" type="submit">Send</button>
            </form>
        {% else %}
            <div class="alert alert-warning top-buffer">
                To post you should log in first. {{error}}
            </div>
        {% endif %}

        {% if not error == '' %}
            <div class="alert alert-warning top-buffer">
                {% if error == '2small' %}
                    You need to enter at least 10 characters to post.
                {% endif %}

                {% if error == 'ok' %}
                    We brought your post. When it will be checked, Your post can be viewable on this page)
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock content-left %}
