{% extends "main/base.html" %}
{% load thumbnail %}
{% block title %} {{ animal.name|title }} {% endblock title %}
{% block header %} {{ animal.name|title }} {% endblock header %}
{% block nav-bar %} 

    <li class="breadcrumb-item active">
        <a href="{% url 'main:homepage'%}">Main</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="{% url 'main:about_type' animal.type.name %}">{{ animal.type.name }}</a>
    </li>
    <li class="breadcrumb-item">
        {{animal.name}}
    </li>

{% endblock nav-bar %}
{% block content-left %}
<div class="row">
    <div class="col-sm-6">
        <div class="about-image">
            {% thumbnail animal.image "500x400" crop="center" as im %}
                <img class="rounded img-fluid" src="{{ im.url }}"   >
            {% empty %}
                <img class="animal-image img-fluid" src="/media/None.jpg" alt="Image does not exist">
            {% endthumbnail %}
        </div>
    </div>
    <div class="col-sm-6">
        {{animal.description}}
    </div>
</div>
{% endblock content-left %}
{% block content-right %}
    {% include "main/content-right.html" %}
{% endblock content-right %}